<%- include("header") -%>
<div class="card col-sm-12 col-md-8 col-lg-6 b br" id="about">
  <h3 class="card-header" name="usersid" id="head">About</h3>
  <div class="card-body inside">
    <p class="card-title"><span id="customerinfo">This a online banking site developed for transfer of money between several users in the bank</p>

    <form action="/" method="get">
      <button type="submit" name="usersid" class="btn homebtn btn-outline-success">Home</button>
    </form>
  </div>
</div>
<%- include("footer") -%>
