<%- include("header") -%>
<div class="card col-sm-12 col-md-8 col-lg-6 b br" id="infos">
  <h3 class="card-header" name="usersid" id="names">Contact</h3>
  <div class="card-body inside">
    <br><br>
    <p class="card-title"><span id="customerinfo"><a href="https://www.instagram.com/gokul_2811/"><img class="sicons" src="https://img.icons8.com/fluent-systems-filled/24/000000/instagram-new.png"/></a> Instagram</p>
    <p class="card-title"><span id="customerinfo"><a href="https://www.facebook.com/gokulkumar.nov"><img class="sicons" src="https://img.icons8.com/ios-glyphs/24/000000/facebook-new.png"/></a> Facebook</p>
    <p class="card-title"><span id="customerinfo"><a href="https://www.linkedin.com/in/gokul-m-9156061a4/"><img class="sicons" src="https://img.icons8.com/ios-glyphs/24/000000/linkedin-circled.png"/></a> LinkedIn</p>
    <p class="card-title"><span id="customerinfo"><a href="https://twitter.com/gokulkumar2"><img class="sicons" src="https://img.icons8.com/material-sharp/24/000000/twitter-squared.png"/></a> Twitter</p>
    <br><br>
  </div>
</div>
<%- include("footer") -%>
