<%- include("header") -%>
<div id="disp" class="card col-sm-12 col-md-6 col-lg-5 end b">
  <% if(error == 1){ %>
  <h3 class="card-header" name="usersid" id="fail">Transaction Declined</h3>
  <div class="card-body end">
    <p class="card-title"><span id="customerinfo">Invalid entry of amount Please enter a Valid amount to transfer</span></p>
    <% } else if(error == 0){ %>
    <h3 class="card-header" name="usersid" id="fail">Transaction Declined</h3>
    <div class="card-body end">
      <p class="card-title"><span id="customerinfo">Due to insufficient balance your transaction has been declined</span></p>
      <% } else { %>
      <h3 class="card-header" name="usersid" id="suc">Transaction Successful</h3>
      <div class="card-body end">
        <p class="card-title"><span id="customerinfo">Thank you for using <span id="suc">SBANK</span><br> Have a great day..!!</span></p>
        <% } %>
        <form action="details">
          <button class="btn btn-outline-success">View All Customers</button>
        </form>
      </div>
    </div>
    <%- include("footer") -%>
