<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SBank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <a href="https://icons8.com/icon/ZOFC5nSr215Y/instagram"></a>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>

<body>
  <div id="back1"></div>
  <nav class="navbar navbar-expand-md navbar-light" id="header">
    <a class="navbar-brand headingfont" href="/"><img id="logo" src="https://coinarbitragebot.com/inc/coin_logos/sbank.png" alt="logo">  SBANK</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse items" id="navbarNav">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link l" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link l" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link l" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
